*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lec00/BancoApp/nbproject/private/
/Lec00/BancoApp/build/
/Lec00/BancoApp/dist/
/Lec02/PagoApp/nbproject/private/
/Lec02/PagoApp/build/
/Lec03/EduTecLib/nbproject/private/
/Lec03/EduTecLib/build/
/Lec03/EduTecLib/dist/
/Lec03/PromedioDemo/nbproject/private/
/Lec03/PromedioDemo/build/